<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome Email</title>
</head>
<body>
  <h1>Password Reset</h1>

  <p>
    Click on the link below to reset your password:
    <a href="<%= @url %>">RESET</a>
  </p>
  <p>
    If you have any questions or need assistance, dont hesitate to contact us.
  </p>
</body>
</html>